.bg-yellow {
    background-color: #fcd232; 
}

.text-darkgrey {
    color: #1f1a06;
}

.navbar-brand {
    width: 60px;
    transition: all .3s ease-out;
}

.navbar-brand:hover {
    color: #940505e8;
}

.font-logo {
    font-size: .7rem;
}

.bg-red {
    background-color: #d31313da;
}

.content {
    width: 180px;
    height: 50px;
}
  
.btn-animated {
    width: 180px;
    height: 50px;
    background-color: #d31313da;
    border: 1px solid transparent;
    outline: none;
    transition: 1s ease-in-out;
}
 
.btn-animated svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    width: 180px;
    height: 60px;
}
  
.btn-animated:hover {
    transition: 1s ease-in-out;
    background-color: #940505e8;
}
  
.btn-animated:hover svg {
    stroke-dashoffset: -480;
}

.navbar-toggler {
    padding: 0;
}

.hamburger {
    top:20px;
    right:13px;
    width: 35px;
    height: 5px;
    border-radius: 4px;
    background: #302f38;
    position: absolute;
    transition: 0.5s;
}
  
.hamburger:before {
    top: -10px;
}
  
.hamburger:after {
    top: 10px;
}
  
.icon-hamburger {
    position: absolute;
    top: 25px;
    right: 13px;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
  
.hamburger:before,
.hamburger:after {
    content: '';
    position:absolute;
    width: 35px;
    height: 5px;
    border-radius: 4px;
    background:  #302f38;
    transition:0.5s;
}
  
.icon-hamburger.active-hamburger .hamburger {
    background:rgba(0,0,0,0);
}
  
.icon-hamburger.active-hamburger .hamburger:before {
    top: 0;
    transform:rotate(135deg);
    background: #fff;
}
  
.icon-hamburger.active-hamburger .hamburger:after {
    top: 0;
    transform:rotate(225deg);
    background: #fff;
}

.banner-1 {
    background: linear-gradient(rgba(68, 52, 52, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/banner-1.jpg") no-repeat center / cover;
} 

.banner-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/banner-2.jpg") no-repeat center / cover;
}

.banner-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/banner-3.jpg") no-repeat center / cover;
}

.banner-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/banner-4.jpg") no-repeat top / cover;
}

.banner-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/banner-5.jpg") no-repeat center / cover;
}

.banner-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/banner-6.jpg") no-repeat top / cover;
}

.custom-h1 {
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
}

.bg-darkgrey {
    background-color: #302f38;
}

.box {
    display: block;
    position: relative;
    cursor: pointer; 
}
  
/* Browser's default checkbox hidden */
.box input[type='checkbox'] {
    display: none;
}
  
/* Custom checkbox */
.check-mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    height: 30px;
    width: 30px;
    background-color: #302f38;
    border-radius: 15px;
}

label > p {
    width: 80%;
}

/* Check mark (hidden when not checked) */
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Check mark when checked */
.box input[type='checkbox']:checked ~ .check-mark:after {
    display: block;
}
  
/* Check mark style */
.box .check-mark:after {
    left: 11px;
    top: 4px;
    width: 9px;
    height: 17px;
    border: solid #eb3b3b;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.card {
    transform-origin: 50% 70%;
    transition: transform .2s ease-in;
    color: #1f1a06;
}

.inner {
    border-radius: 1rem !important;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}

.card-text {
    line-height: 1.2;
}

.card:hover {
    transform: scale(1.02);
    color: #1f1a06;
    text-decoration: none;
}

.card-body span,
input[type='submit'] {
    transition: background-color .3s ease-in;
}

.card-body span:hover {
    background-color: #940505e8;
}

.text-red {
    color: #d31313da;
}

.nav-border {
    border-bottom: 1px solid transparent;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.input-lg {
    font-size: 1rem;
    height: 1rem;
    padding: 1.5rem .75rem;

}

.custom-selection {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1rem + 8px);
    padding: .5rem .75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("https://img.icons8.com/ios-filled/50/000000/expand-arrow--v1.png") right .75rem center/8px 10px no-repeat;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-selection:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.custom-option {
    font-size: 1.1rem; 
    color: #495057;
}

input[type='submit']:hover {
    background-color: #940505e8;
}

@media (max-width: 991px) {
    .nav-link:focus, 
    .nav-link:hover {
        text-decoration: underline;
    }

    .nav-link {
        line-height: 2.2;
    }

    .navbar-collapse {
        position: absolute;
        right: 0;
        width: 55%;
        top: 0;
        padding-top: 70px;
        padding-left: 20px;
        background-color: #302f38;
        height: 55vh;
        z-index: 2000;
    }

    .navbar-toggler {
        position: absolute;
        z-index: 2001;
    }

    .content {
        position: absolute;
        left: 0;
    }

    .carousel-item {
        filter: blur(1px);
    }
}

@media (max-width: 767px) {
    .carousel-item {
        height: 45vh;
    }

    .custom-padding {
        padding-top: 155px;
        padding-bottom: 70px;
    }
}

@media (max-width: 540px) {
    .navbar-collapse {
        width: 100%;
        min-height: 100vh;
    }

    .custom-h1 {
        font-size: 3rem;
    }

    #myList .card {
        display:none;
    }
}

@media (min-width: 541px) and (max-width: 767px) {
    .custom-h1 {
        font-size: 3.8rem;
    }
}

@media (min-width: 541px) and (max-width: 991px) {
    /* blur the body background when navbar is open on tablet*/
    .blur-body > :not(.navbar-wrapper) {
        filter: blur(3px);
    }
}

@media (min-width: 768px) {
    .carousel-item {
        height: 50vh;
    }
    
    .custom-h1 {
        font-size: 4.5rem;
    }

    .border-r {
        border-right: 1px solid #424242;
    }
    
    .border-l {
        border-left: 1px solid #424242;
    }
}

@media (min-width: 992px) {
    .nav-link:focus, 
    .nav-link:hover {
        transform: scale(1.1);
        color: #d31313da !important;
    }
    
    .nav-link {
        color: #302f38 !important;
        transition: .3s ease-in-out;
    }
     
    .carousel-item {
        height: 60vh;
        filter: blur(2px);
    }
}

@media (min-width: 1600px) {
    .custom-h1 {
        font-size: 7rem;
    }
}